
*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    background:linear-gradient(#7c7b7b, #0e0f0e);
    text-align: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    
  }
  
  h1 {
    color:blue 
  
  }
  h2{
    color: rgb(12, 15, 226);
    font-size: small;
  }
  
  p {
    color: #000000;
    font-size: 40px;
    font-weight: bold;
  }

  p#result{
    color:yellow;
    font-size: 20px;

  }
  
  
  input {
    background-color:aqua;
    color:black;
    margin-top: 5px;
    padding: 10px;
  }
  
  button {
    background-color: aqua;
    color: black;
    margin-top: 5px;
    padding: 10px 10px;
    
  }

  
  